<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>myWebApp1</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/TestDB</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	<servlet>
		<servlet-name>HelloWorld</servlet-name>
		<servlet-class>servlet_examples.HelloWorld</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HelloWorld</servlet-name>
		<url-pattern>/HelloWorld</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>HelloGet</servlet-name>
		<servlet-class>servlet_examples.HelloGet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HelloGet</servlet-name>
		<url-pattern>/HelloGet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>HelloPost</servlet-name>
		<servlet-class>servlet_examples.HelloPost</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HelloPost</servlet-name>
		<url-pattern>/HelloPost</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Test_DataSource</servlet-name>
		<servlet-class>Test_DataSource</servlet-class>
	</servlet>
	
	
	<servlet-mapping>
		<servlet-name>Test_DataSource</servlet-name>
		<url-pattern>/Test_DataSource</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>SevletFirst</servlet-name>
		<servlet-class>com.learnee.SevletFirst</servlet-class>
	</servlet>
	
	
	<servlet-mapping>
		<servlet-name>SevletFirst</servlet-name>
		<url-pattern>/SevletFirst</url-pattern>
	</servlet-mapping>
	
	
</web-app>